:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");

  --main-background-color: #fff1f7;
  --accent-color: #ff8dcb;

  --header-text-color: #ffc2e6;
  --accent-text-color: #353430;
  --contrast-text-color: #353430;
  --main-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");

    --main-background-color: #fff1f7;
    --accent-color: #ff8dcb;

    --header-text-color: #ffc2e6;
    --accent-text-color: #353430;
    --contrast-text-color: #353430;
    --main-text-color: #353430;
  }
}

.page.theme_light {
  --bg-image: url("../images/cover-image-light.png");

  --main-background-color: #fff1f7;
  --accent-color: #ff8dcb;

  --header-text-color: #ffc2e6;
  --accent-text-color: #353430;
  --contrast-text-color: #353430;
  --main-text-color: #353430;
}

.page.theme_light .header__decorative-element {
  display: none;
}

.page.theme_light .header__theme-menu {
  margin-top: calc(5.7vh + 25px);
}

@media (width >= 768px) {
  .page.theme_light .header__theme-menu {
    margin-top: calc(14vh + 25px);
  }
}

@media (width >= 1024px) {
  .page.theme_light .header__theme-menu {
    margin: 0 auto;
  }
}
